@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

nav{
    text-align: center;
}

a:hover{
    background-color: darkblue;
    color: antiquewhite
}

#active{
    color: rgb(131, 5, 7);
    font-weight: bold
}

.pics{
    width: 300px;
    height: 300px
}

.people{
    margin: 40px;
    width: 18%
}

#carlos{
    margin: 0px
}

#flexBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1, .names{
    font-family: Montserrat;
}

.sections{
    background-color: lightpink;
}

.content{
    background-color: antiquewhite;
}

#bottom{
    color: darkblue;
    padding-top: 0%;
}

#form{
   align-content: center;
}

h1{
    text-align: center;
}

table, th, td{
    border: 2px solid darkblue;
    border-collapse: collapse
}

th, td{
    padding: 5px;
    text-align: center
}

th{
    background-color: lightpink
}


