body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#background{
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: center;
    width: 100vw;
}


header{
    background-color: rgba(255,215,0,0.9);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    width: 100%;
    box-shadow: 0 5px 10px black;
}

h1{
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-align: center;
}

h2{
    font-size: 1.2rem;
    text-align: center;
}

#main{
    background-color: rgba(255,255,200,0.95);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    min-height: 15px;
    width: 100%;
    border: 3px solid goldenrod;
    text-align: center;
}
button{
    background-color: goldenrod;
    color:white;
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s ease;
}

button:hover{
    transform: scale(1.05);
    opacity: 0.8;
}

input{
    width: 64px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid goldenrod;
    background-position: center;
    background-color: lightyellow;
}

#feedback{
    margin-top: 10px;
    min-height: 20px;
    text-emphasis: "*" red;
}