
h1{
 color: #2c98a1;
 margin-bottom: 15px;   
 
}

body{
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-color: #e6f4f5;
 text-align: center;
 margin: 0;
 padding: 25px;    
}

select, #size{
    margin: 10px 5px;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #2c98a1;
    border-radius: 5px;
    outline: none;
}

#size{
    width: 60px;
}
select:focus, #size:focus{
    box-shadow: 0 0 5px #2c98a1;
}

#ordered, #unordered{
    margin-top: 10px;
    margin: 10px
}

button{
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #2c98a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

button:hover{
    background-color: #247f87;
    transform: scale(1.05);
}
img{
    margin-top: 15px;
    align-items: center;
    max-height: 250px;
}
#result{
    margin: 25px auto 0 auto;
    padding: 15px;
    background-color: white;
    height: 60px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #2c98a1;
    box-shadow: 0 4px 8px #247f87;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    color: #247f87; 
}
